.input-search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border:  1px solid #707973;
    max-width: 300px;
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #707973;
}